footer {
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 5px 5px;
}

.footer-text-cont {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.copyright-icon {
    height: 12px;
    width: 12px;
}