.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #000000; 
    width: 350px;
    height: 40px;
    border-radius: 50px;
}

.search-icon {
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 30px;
    cursor: pointer;
}

.search-icon img {
    height: 18px;
    width: 18px;
    padding: 5px 5px 5px 5px;
    background-color: #000000;
}

.search-input {
    border: none;
}

.search-input input {
    width: 302px;
    height: 28px;
    background-color: #000000;
    border-radius: 30px;
    border: none;
}