
#app-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    background-color: #ffffff;
    font-family: "Playfair Display", serif;
    overflow: hidden;
}

#scrollable {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    overflow-y: auto;
    background-color: #ffffff;
}
